body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.8em;
}

#helpBtnContainer {
  text-align: right;
  padding: 5px;
}

img {
  width: 100%;
  /* height: 80%; */
  max-height: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#heading {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  color: whitesmoke;
  background-color: rgb(52, 135, 218);
  padding: 2px;
}

#heading-container {
  display: grid;
  grid-column-start: 2;
  text-align: center;
}

.options {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  padding-top: 25px;
  height: 100px;
}

.optionHeader {
  padding: 4px;
}

.option button {
  width: 90%;
}

.option {
  width: 25%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.hideOptions {
  display: none;
}

.showOptions {
  display: flex;
  flex-direction: column;
  border: 1px inset lightgray;
  width: 90%;
}
li:hover {
  background: rgb(132 195 255 / 40%);
  cursor: pointer;
}

li {
  list-style: none;
  width: 100%;
  text-align: center;
}

button {
  border: 2px solid rgb(5, 98, 190);
  border-radius: 6px;
  color: rgb(5, 98, 190);
  padding: 10px;
}

div.option:focus-within > button {
  background-color: rgb(52, 135, 218);
  color: whitesmoke;
}

button:hover {
  cursor: pointer;
  background-color: rgb(52, 135, 218);
  color: whitesmoke;
}

#tempo {
  width: 90%;
}

#mainSection {
  padding-top: 5px;
}

#barContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: 3.5vw;
  height: 150px;
}

#bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}
.barLine {
  display: flex;
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

#metronome {
  border-radius: 10%;
  padding: 0px;
  width: 50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

#metronomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#metroIcon {
  width: 25px;
  height: 25px;
}

#metronome:active > #metroIcon {
  animation: tickTock 1s infinite;
}

@keyframes tickTock {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg);
  }
}

#help {
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
  justify-content: center;
  margin: 0 auto;
  background: gainsboro;
  position: relative;
  bottom: 20vh;
  padding: 20px;
  grid-column-gap: 5px;
}

.helpNotes {
  font-size: 2.1vw;
  text-align: center;
  line-height: 1.5;
}

#helpNote {
  width: 75%;
  margin: 0 auto;
}

#helpBtn {
  all: unset;
}

#helpBtn:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

#countIn {
  text-align: center;
  font-size: x-large;
  visibility: hidden;
}

#exitHelp {
  position: absolute;
  width: 100%;
  text-align: right;
  text-decoration: none;
  color: black;
}

#exitHelp:hover {
  text-decoration: underline;
  cursor: pointer;
}

.timeSigContainer {
  display: flex;
  flex-direction: column;
  padding-inline: 2px;
  font-weight: bold;
  font-family: "Yeseva One", cursive;
  line-height: 0.8;
}

#toolTip {
  position: relative;
  left: 50px;
  width: 25%;
  padding: 10px;
  text-align: center;
  background-color: rgb(52, 135, 218);
  color: whitesmoke;
  margin: auto;
  left: 0;
  border-radius: 6px;
}

#toolTip::after {
  content: " ";
  position: absolute;
  top: 100%;
  right: 50%;
  border: 10px solid;
  border-color: rgb(52, 135, 218) transparent transparent transparent;
}

#closeTooltip {
  all: unset;
  float: right;
  background: rgb(5, 98, 190);
  padding: 2px;
  margin-top: -5px;
  margin-right: -5px;
  line-height: 0.8;
}

#closeTooltip:hover {
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  #heading {
    font-size: smaller;
  }

  #barContainer {
    font-size: large;
    padding: 0;
  }
  #toolTip {
    width: 70%;
  }
}
